<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

    <ion-title>
      Account State
    </ion-title>
    
      <ion-avatar slot="end" style="height:30px">
        <img src="https://cdn-icons-png.flaticon.com/512/1177/1177568.png" />
      </ion-avatar>


  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="4">
        <div class="texto">Period</div>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="4">
        <div class="texto">Total pay</div>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="4">
        <div class="texto">Pay</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="4">
        <div class="textod">Month - Year</div>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="4">
        <div class="textod">$0.00</div>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="4">
        <div class="textod"><ion-icon name="cash-outline"></ion-icon></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="4">
        <div class="textod">Month - Year</div>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="4">
        <div class="textod">$0.00</div>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="4">
        <div class="textod"><ion-icon name="cash-outline"></ion-icon></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="4">
        <div class="textod">Month - Year</div>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="4">
        <div class="textod">$0.00</div>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="4">
        <div class="textod"><ion-icon name="cash-outline"></ion-icon></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="4">
        <div class="textod">Month - Year</div>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="4">
        <div class="textod">$0.00</div>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="4">
        <div class="textod"><ion-icon name="cash-outline"></ion-icon></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="4">
        <div class="textod">Month - Year</div>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="4">
        <div class="textod">$0.00</div>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="4">
        <div class="textod"><ion-icon name="cash-outline"></ion-icon></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="4">
        <div class="textod">Month - Year</div>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="4">
        <div class="textod">$0.00</div>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="4">
        <div class="textod"><ion-icon name="cash-outline"></ion-icon></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="4">
        <div class="textod">Month - Year</div>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="4">
        <div class="textod">$0.00</div>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="4">
        <div class="textod"><ion-icon name="cash-outline"></ion-icon></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="4">
        <div class="textod">Month - Year</div>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="4">
        <div class="textod">$0.00</div>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="4">
        <div class="textod"><ion-icon name="cash-outline"></ion-icon></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
