ion-avatar{
    height: auto;
    width: auto;
  }

.texto{
    background-color: rgb(57, 111, 212);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.textod{
    background-color: rgb(103, 143, 219);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}