<ion-content>
  <div class="icono" button onclick="">
  <ion-icon name="caret-back-circle-outline"></ion-icon>
</div>
<br>

  <ion-avatar>
    <img src="https://cdn-icons-png.flaticon.com/512/1177/1177568.png"/>
  </ion-avatar>
  
  <br>

  <ion-item>
    <ion-label position="stacked">Student data</ion-label>
    <ion-input placeholder="Student Name"></ion-input>
    <ion-input placeholder="University"></ion-input>
    <ion-input placeholder="Grade"></ion-input>
    <ion-input placeholder="Address"></ion-input>
    <ion-input placeholder="Cellphone Number"></ion-input>
    <ion-input placeholder="Matricula"></ion-input>
    <ion-input placeholder="Birth day"></ion-input>
    <ion-input placeholder="Description"></ion-input>
  </ion-item>

</ion-content>
