<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

    <ion-title>
      Quizzes
    </ion-title>
    
      <ion-avatar slot="end" style="height:30px">
        <img src="https://cdn-icons-png.flaticon.com/512/1177/1177568.png" />
      </ion-avatar>


  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button onclick="">
      <ion-icon name="chevron-forward-circle-outline" slot="start"></ion-icon>
      <ion-label>Evaulation of School</ion-label>
    </ion-item>
    <ion-item button onclick="">
      <ion-icon name="chevron-forward-circle-outline" slot="start"></ion-icon>
      <ion-label>Teacher evaluation</ion-label>
    </ion-item>
    <ion-item button onclick="">
      <ion-icon name="chevron-forward-circle-outline" slot="start"></ion-icon>
      <ion-label>Tutoria evaluation</ion-label>
    </ion-item>
    <ion-item button onclick="">
      <ion-icon name="chevron-forward-circle-outline" slot="start"></ion-icon>
      <ion-label>Call for workshops</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
