<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

    <ion-title>
      Schoolar Services
    </ion-title>
    
      <ion-avatar slot="end" style="height:30px">
        <img src="https://cdn-icons-png.flaticon.com/512/1177/1177568.png" />
      </ion-avatar>


  </ion-toolbar>
  
</ion-header>

<ion-content class="ion-padding-start ion-padding-end" fullscreen>
  <div style="text-align:center" class="grid-item">
    <h2>Calendar</h2>
    <ion-datetime locale="en-GB"></ion-datetime>
  </div>
  <br>
  <div style="text-align:center">
    <h2>Recent</h2>
    <ion-list>
      <ion-item>
        <ion-label>New quizz - Schoolar Services</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>New Quarter has started</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Student day, Congratulations!</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Your Teacher has updated grades</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>April Tition to pay</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
